name: PythonBuilds

on:
  [push, workflow_dispatch]

jobs:
  build:

    name: Install for ${{ matrix.os }}-cp${{ matrix.python-version }}-cy${{ matrix.cython }}
    runs-on: ${{ matrix.os }}
    env:
      SETUP_PY_ARGS: "cmake=default,${{ matrix.bitness }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest] #, macos-latest]
        python-version: [2.7, 3.6, 3.7, 3.8, 3.9]
        cython: [true, false]

    steps:
    - name: Checkout from git
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        if [ "$RUNNER_OS" == "Windows" ]; then
            python -m pip install pywin32
        fi
        python -m pip install cython requests jinja2 pyyaml

    - name: Installing VCS versions
      if: matrix.os == windows-latest && matrix.python-version == 2.7
      run: choco install vcpython27

    - name: Build the package
      shell: bash
      working-directory: "wrappers/Python"
      run: |
        if [ "$RUNNER_OS" == "macOS" ]; then
            export MACOSX_DEPLOYMENT_TARGET=10.9
        fi
        if [ ${{ matrix.cython }} == false ]; then
            cd pypi
            python prepare_build.py
        else
            python generate_meta_info.py
            python setup.py install
        fi
